.pyc
__pycache__
.pytest_cache
.venv
.env*
.env-test
.test-env
.DS_Store
.ruff_cache

# CDK asset staging directory
.cdk.staging
cdk.out

# potentially installed packages
stac-browser/

# local docker compose state
.pgdata/

dev-docs/plans/
